<%
  var forgotConfirmError = false;
  if (locals.forgotError[0]) {
    switch(forgotError[0].label) {
      case 'confirm_password':
        forgotConfirmError = true;
        break;
    }
  }
%>
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>Simantiz - Business Strategy Boardgame</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/plugins/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/plugins/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="/plugins/sweetalert/sweetalert.css" media="screen"  rel="stylesheet" type="text/css">
<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="all"/>
<style>

</style>

<script src="/plugins/jquery-2.1.4.min.js"></script>
<script src="/plugins/materialize/js/materialize.min.js"></script>
<script src="/plugins/materialize/js/init.js"></script>
<script src="/plugins/sweetalert/sweetalert.min.js"></script>
<style>
    th
    {
        background-color:#29b6f6;
    }
    td
    {
        background-color:#b2ebf2;
    }
</style>

</head>
<body class="white">
<!-- Start Navbar Header -->
<nav class="indigo darken-4" role="navigation" style="height: 100px; padding-top: 10px">
  <div class="nav-wrapper container">
    <a id="logo-container" href="http://localhost/gims/index.php" class="brand-logo center" style="margin-top: 10px">
      <img src="images/logo2.png" class="l">
    </a>
  </div>
</nav>
<!-- End Navbar Header -->
<div  class="container row">
<div class="section"></div>
  <main>
    <center>
      <div class="section"></div>

      <h5 class="indigo-text">Forgot Password</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 50px 0px 50px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input autofocus class="validate" type='password' name='password' id='password' required style="width: 300px;" />
                    <label for='email' style="text-align: left">New Password</label>
                </div><br>
                <div class='input-field col s12'>
                    <input class="validate <%- (forgotConfirmError)? 'invalid' : '' %>" type='password' name='confirm_password' id='password_confirm' required style="width: 300px;" />
                    <label for='email' style="text-align: left">Confirm Password</label>
                    <% if(forgotConfirmError){ %>
                    <span id="span-forgot-email" class="helper-text" data-error="<%- forgotError[0].message %>" data-success=""></span>
                    <% } %>
                </div>
            </div>
            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_submit' class='col s12 btn btn-large waves-effect light-blue darken-1 waves-light'>Submit</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a class="light-blue-text" href="/">Back</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
</body>
<script type="text/javascript">
  $(document).ready(function(){

  });
</script>
</html>
