
<nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="http://localhost/gims/index.php" class="brand-logo"><img src="images/logo2.png" class="l"></a>
        <ul class="right hide-on-med-and-down nav1">
            <li>
                <a class="fontbs" href="#"><i class="material-icons">person</i></a>
                <a id="btn-logout" class="fontbs" href="/logout"><i class="material-icons">power_settings_new</i></a>
            </li>
        </ul>
        <a href="javascript:;" draggable="false" id="balance" class="right hidden" style="cursor: text">
          <span>R$ </span>
          <span id="dv_duit">0</span>
          <!--<span> | Point: </span>
          <span id="dv_point">0</span> -->
        </a>
            <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li><span class="kirimenu"></span></li>
                <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header  waves-effect waves-dark"><i class="material-icons left sdm">settings</i>Setup</a>
                          <div class="collapsible-body" style="">
                            <ul>

                            <li><a href="http://localhost/gims/index.php/bu/index">Company</a></li>
                              <li><a href="http://localhost/gims/index.php/grade">Grade</a></li>
                              <li><a href="http://localhost/gims/index.php/grade/repair">Approve Grade</a></li>
                              <li><a href="http://localhost/gims/index.php/connection">Connection</a></li>
                              <li><a href="http://localhost/gims/index.php/connection/repair">Approve Connection</a></li>
                              <li><a href="http://localhost/gims/index.php/mill">Mill</a></li>
                              <li><a href="http://localhost/gims/index.php/location">Location</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="bold"><a href="http://localhost/gims/index.php/bu/status" class=" waves-effect waves-dark"><i class="material-icons left sdm">report</i>Status</a>

                        </li>
                        <li class="bold"><a href="http://localhost/gims/index.php/dashboard" class=" waves-effect waves-dark"><i class="material-icons left sdm">dashboard</i>Dashboard</a>

                        </li>
                        <li class="bold "><a href="http://localhost/gims/index.php/search" class=" waves-effect waves-dark "><i class="material-icons left sdm">search</i>Search</a>

                        </li>
                        <li class="bold"><a class="collapsible-header waves-effect waves-dark"><i class="material-icons left sdm">report</i>Report</a>
                          <div class="collapsible-body" style="">
                            <ul>
                              <li><a href="http://localhost/gims/index.php/report/chart/company">By Company</a></li>
                              <li><a href="http://localhost/gims/index.php/report/chart/monthly">Trend</a></li>
                            <li><a href="http://localhost/gims/index.php/report/chart/pie">Snapshot</a></li>

                            </ul>
                          </div>
                        </li>
                         <li class="bold "><a href="http://localhost/gims/index.php/cart" class=" waves-effect waves-dark "><i class="material-icons left sdm">shopping_cart</i>Your cart</a>

                        </li>
                      </ul>
                    </li>



              </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
